.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  &__button {
    padding: 10px 0 10px 8px;
    &:after {
      color: #FFFFFF;
    }
  }
  &__name {
    width: 174px;
    text-align: center;
    padding: 0;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}