.logo {
  display: flex;
  align-items: center;
  &__img {
    height: 42px;
    width: 42px;
    margin-right: 20px;
    background: url('../../images/logo.png') no-repeat center center/cover;
  }
  &__text {
    font-weight: bold;
  }
}