.logo {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }
  &__img {
    height: 42px;
    width: 42px;
    margin-right: 20px;
    background: url('../../images/logo.png') no-repeat center center/cover;
  }
  &__text {
    text-decoration: none;
    font-weight: bold;
  }
}
