.agreements {
    padding: 10px 30px 30px 30px;

    &__title {
        font-family: "Open Sans";
        font-size: 30px;
        color: #505050;
        margin-bottom: 30px;
    }

    &__footer {
        padding-top: 30px;
        display: flex;
        justify-content: flex-end;

        .button {
            margin-right: 0;
        }
    }

    .agreement-item {
        background-color: #fff;
        margin-bottom: 15px;
        border-radius: 4px;

        &__additional-info-button {
            width: 100%;
            text-align: center;
            font-size: 16px;
            color: #505050;
            margin-top: 5px;
            padding: 5px 0 0 0;

            &:hover {
                cursor: pointer;
                background-color: #dcdcdc;
                color: #fff;
                border-radius: 0 0 4px 4px;
            }
        }

        &__participants {
            padding: 0 30px;

            &-title {
                font-weight: normal;
                color: #757575;
                padding: 10px 0;
            }

            &-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .table {
        &__header {
            &-cell {
                font-size: 12px;
                color: #909090;
            }
        }

        &__cell {
            font-family: "Open Sans";
            font-size: 14px;
            color: #505050;
            font-weight: normal;
        }

        &__row {
            border-bottom: none;
        }
    }

    .agreement-decisions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__button {
            opacity: 0.6;

            &:first-child {
                margin-bottom: 15px;
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }

            &_type_accept {
                color: #909090;
                width: 14px;
                height: 8px;
                border-bottom: solid 3px #909090;
                border-left: solid 3px #909090;
                -webkit-transform: rotate(-5deg);
                transform: rotate(-45deg);

                &.agreement-decisions__button_result_voted {
                    color: #00d43c;
                    border-bottom: solid 3px #00d43c;
                    border-left: solid 3px #00d43c;
                }
            }

            &_type_decline {
                width: 14px;
                height: 14px;
                position: relative;

                &:before, &:after {
                    position: absolute;
                    content: '';
                    left: 5px;
                    height: 14px;
                    width: 3px;
                    background-color: #909090;
                }

                &.agreement-decisions__button_result_voted {
                    &:before, &:after {
                        background-color: #ff0008;
                    }
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
