.commentaries {
  margin-top: 30px;
  width: 100%;
  background-color: #fff;
  display: flex;
  height: 450px;
}

.comments {
  width: 60%;
  padding: 20px;
  &__list {
    overflow-y: auto;
  }
  &__title {
    font-size: 18px;
    margin: 0 0 20px;
    color: #505050;
  }
}

.comment {
  display: flex;
  padding: 0 0 20px 0;
  width: 100%;
  &__author {
    padding-top: 27px;
    width: 220px;
  }
  &__info {
    width: calc(100% - 220px);
  }
  &__time {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__message {
    background-color: #f3f3f3;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    &:before {
      content: "";
      position: absolute;
      bottom: calc(100% - 40px);
      right: 100%;
      border-width: 15px;
      border-style: solid;
      border-color: #f3f3f3 #f3f3f3 transparent transparent;
    }
  }
}

.message {
  padding: 20px;
  width: 40%;
  &-box {
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 44px);
    &__input {
      padding: 10px;
      font-size: 16px;
      border: none;
      resize: none;
      border-radius: 4px;
      background-color: #f3f3f3;
      height: calc(100% - 80px);
      &:focus {
        outline: none;
      }
    }
    &__bottom {
      height: 80px;
      background: linear-gradient(90deg, rgba(27,81,118,1) 0%, rgba(72,141,146,1) 100%);
    }
  }
}