.table {
  width: 100%;
  &__header {
    // display: flex;
    &-cell {
      padding: 5px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between
  }
  &__cell {
    word-break: break-all;
    padding: 5px;
  }
}