.table {
  width: 100%;
  &__header {
    &-cell {
      word-break: break-all;
      padding: 5px;
      flex-grow: 1;
      font-size: 14px;
      color: #a6a6a6;
    }
    .table__row {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #e6e6e6;
    &_empty {
      .table__cell {
        display: flex;
        justify-content: center;
      }
    }
  }
  &__cell {
    word-break: break-all;
    padding: 5px;
    flex-grow: 1;
  }
  &__controls {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  &__refresh {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: url("../../icons/refresh.svg") #e6e6e6 no-repeat center center/80%;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
