.table {
  width: 100%;
  &__header {
    &-cell {
      word-break: break-all;
      padding: 5px;
      flex-grow: 1;
    }
    .table__row {
      border-bottom: none;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #e6e6e6;
  }
  &__cell {
    word-break: break-all;
    padding: 5px;
    flex-grow: 1;
  }
}
