.project-info {
    &__cols-block {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        display: flex;
        flex-direction: column;

        width: 50%;
        padding: 10px;
    }
    &__contaners-divider {
      margin-bottom: 20px;
    }
    &__agreements {
      padding: 10px;
    }
    .project-info__project-name-label {
      font-size: 13px;
      color: #909090;
    }
}

.bottom-buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  &_end {
    justify-content: flex-end;
  }
}
